<html lang="en">
    <head> 
        <title>EventDetails</title>
        <link rel = "stylesheet" href="css/bootstrap.min.css"/>     
    </head>
    <body ng-app="eventsApp">  
        <div class="container" ng-controller = "eventsController">
            <div class="navbar">
                <div class="navbar-inner">
                    <ul class="nav">
                        <li> <a href="NewEvent.html">New Event</a></li>
                    </ul>
                </div>
            </div>
            <div class = "container" >
                <h1 >{{event.name | uppercase}} </h1>
                <ul>
                    <li ng-repeat="topic in event.topics">
                               <b>{{topic.title }} </b> || {{topic.duration | duration}}  || {{topic.voteCount }} 
                            <a name="up" ng-click="increaseVote(topic)">up</a>
                            <a name="up" ng-click="decreaseVote(topic)">down</a>
                    </li>
                </ul>
            </div>
        </div>
       <script src = "../../lib/jquery-1.11.2.min.js" ></script>
      <script src = "../../lib/angular/angular.js" ></script>  
         <script src = "../../js/basic/app.js" ></script>
    <script src = "../../js/basic/controller/eventsController.js" ></script>
        <script src = "../../js/basic/filter/duration.js" ></script>
    </body>    
</html>    